body {
  margin: 0;
  overflow-x: hidden;
}

#body {
  background-image: url(../images/photo1.JPG);
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  transition: background-image 0.5s ease-in-out;
  padding-bottom: 150px;
  background-attachment: fixed;
}

img {
  width: 50%;
}

li {
  color: white;
}

.photo-collection {
  position: relative;
  top: 200px;
  left: 630px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.photo-collection::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.5s ease;
}

.photo-collection:hover::before {
  width: 100%;
}

/* about */

p,
h2 {
  color: black;
  width: 60%;
  margin: auto;
  align-items: center;
}

p {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 40px;
  line-height: 2;
}

#about {
  padding-top: 200px;
  padding-bottom: 280px;
}

h2 {
  font-size: 3rem;
}

@media screen and (max-width : 550px){
 #about{
  padding-top: 80px;
 }
 
  h2{
    font-size: 2rem;
    width: 70%;
  }

  p{
    width: 70%;
    margin-top: 20px;
  }

  #body{
    background-image: url(../images/photo2.JPG);
    padding-bottom: 400px;
  }

  
}

/* arrow */

.arrow-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 60px;
  left: 650px;
}

.arrow {
  width: 10px;
  height: 40;
  border-radius: 2px;
  background-color: rgb(190, 189, 189);
  margin: 6px;
  animation: move 1.1s infinite ease-in-out;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid rgb(190, 189, 189);
  /* animation: arrow-animation 1s infinite alternate; */
}

.arrow:nth-of-type(1) {
  transform: rotate(-45deg);
}

.arrow:nth-of-type(2) {
  transform: rotate(45deg);
}

@keyframes move {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 100px;
  }
  100% {
    margin-top: 0;
  }
}

/* big logo */
.b-logo {
  width: 35%;
  position: relative;
  left: 390px;
  top: 90px;
}

/* socials */

.icons {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 30px 0 0 80px;
  font-size: 28px;
}

/* .icons{
  position: relative;
  bottom: 540px;
  display: flex;
  flex-direction: row;
  margin: 30px 0 30px 50px;
  font-size: 20px;
  color: white;
}
.icons:hover{
  color: #4d3e69;
} */

#icons {
  width: 10%;
  position: relative;
  top: 85px;
}

